@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Bricolage Grotesque", sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-pixelify: "Pixelify Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@theme {
  /* Theme color declaration */
  --color-amber-750: #c38f16;
  --color-amber-550: #e9be24;
  --color-amber-150: #f6deae;

  --color-green-850: #006c00;
  --color-green-250: #bedc9a;
  --color-green-150: #d6f4d0;

  --color-orange-650: #fd9003;
  --color-peach-250: #fecdba;
  --color-peach-50: #fff1e7;
}

.scalloped-badge {
  border-radius: 50%;
  position: relative;
  clip-path: polygon(
    50% 0%,
    61% 10%,
    71% 0%,
    82% 10%,
    93% 0%,
    100% 10%,
    93% 20%,
    100% 30%,
    93% 40%,
    100% 50%,
    93% 60%,
    100% 70%,
    93% 80%,
    100% 90%,
    93% 100%,
    82% 90%,
    71% 100%,
    61% 90%,
    50% 100%,
    39% 90%,
    29% 100%,
    18% 90%,
    7% 100%,
    0% 90%,
    7% 80%,
    0% 70%,
    7% 60%,
    0% 50%,
    7% 40%,
    0% 30%,
    7% 20%,
    0% 10%,
    7% 0%,
    18% 10%,
    29% 0%,
    39% 10%
  );
}
