@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Bricolage Grotesque", sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-pixelify: "Pixelify Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 0.875rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  line-height: 1.5;

}

@theme {
  /* Theme color declaration */
  --color-amber-850: #F08803;
  --color-amber-750: #c38f16;
  --color-amber-550: #e9be24;
  --color-amber-150: #f6deae;
  --color-amber-50: #f0880333;

  --color-green-750: #004d00;
  --color-green-550: #006c00;
  --color-green-250: #bedc9a;
  --color-green-150: #d6f4d0;
  --color-green-350:#338933;


  --color-orange-650: #fd9003;
  --color-orange-500: #f3a035;
  --color-peach-250: #fecdba;
  --color-peach-50: #fff1e7;
  --color-peach-30: #f9f4e8;
  --color-peach-10:#fef3e6;
  --color-peach-5:#e8e8e8;

  --color-dark: #1e1e1e;
  --color-light-dark: #1e1e1e0a

}

@theme {
  --leading-full: 100%;
  --font-15:  0.9375rem;
}

.button {
  position: relative;
  box-shadow: 0.25em 0.25em 0 #1e1e1e;
  cursor: pointer;
}

.calendar {
  box-shadow: 0.25em 0.5em 0 #1e1e1e;
}

.background-h1{
  font-size: 34.375rem;
}
.custom-scroll-heading {
  font-size:  6.25rem;
  font-weight: 600;
  line-height: 6.25rem;
}

@media (max-width: 768px) {
  .custom-scroll-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .custom-banner-heading{
    font-size: 18px;
  }
}